// Import page-specific CSS files here.
@import "home";
@import "login";
@import "landing";
@import "show";

body {
  background-color: white;
}
.map-display{
  padding: 0;
}

.banner {
  display: flex;
  justify-content: center;
}

h1 {
  color: #4F4F4F;
  margin-top: 32px;
}

.criteria-title{
  font-family: roboto;
  font-weight: normal;
  font-size: 1.6em;
  margin: 16px 0 6px 0;
  text-align: center;
  opacity: 0.7;
}


#title-logo {
  height: 100vh;
}

#map {
  margin: 0 auto;

}

#show-map {
  margin: 0 auto;
}

.row {
  height: 120px;
}

.map-display {
  overflow-x: hidden;
}
@media(max-width: 992px) {
  .map-display {
    overflow: scroll;
  }
}

.right-column {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
}

.col-lg-4 {
  position: relative;
  right: 10px;
  padding-left:20px;
}

.col-lg-8 {
  padding: 0
}

@media(max-width: 1200px){
  .criteria-title{
    font-size: 1.4em;
  }
}
