#background {
  position: absolute;
  bottom: 0px;
  right: 0px;

}

.top-container {
  position:relative;
  display: flex;
  justify-content:center;
  height: 100vh;
  width:100%;
  background: none;
  background-attachment: fixed;
}
.middle {
  position: absolute;
  bottom: 10%;
  left: 4%;
}

#wave {
  position: absolute;
  width: 100%;
  //bottom: -67px;
  bottom: 0px;

}

h3 {
  font-weight: 400;
}

.logo-wand {
width: 10em;
}

#title-text {
  display: flex;

}
.text-logo {
  position: relative;
  top: 33px;
  font-size: 5em;
  color: $primary-color;
  font-family: 'Nunito', sans-serif;
}

.subtitle-logo {
  width: 580px;
  text-align: center;
  margin-top: 24px;
  color: #4F4F4F;
  line-height: 1.625;
}



.btn-success {
  border-radius: 4px;
  color: white;
  background-color: #3EF49E;
  width: 300px;
  font-size: 2em;
  font-family: helvetica;
}

.blank {
  height:200px;
}

.colored {
  height:400px;
  background: #E5E5E5;
}
//////////////////////////////////
#button {
  display: inline-block;
  background-color: #3EF49E;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  padding-top: 6px;
}
#button::after {
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #7DCDF6;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
/////////////////////////////////////

@media only screen and (max-width: 1076px) {
  #wave {
    bottom: -80px;
  }
}
