.subtitle-text {
  font-family: roboto;
  color: #686868;
}

.tab-side {
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
}

.tab-side::-webkit-scrollbar { width: 0 !important }

.map-side {
  padding: 0;

}

#myTabContent {
  margin: 16px 0 32px 48px;
}

#home {
  p {
    line-height: 2.5;
    padding-top: 32px;
  }
}

.tabs {
    height: 8vh;
}

.image-section {
  width: 100%;
  padding: 20px;
}

.hashtag {
  margin-bottom: 0;
  font-size: 1.2em;
}

.rent_rate {
  background-color: #B6E59E;
}

.age_value {
  background-color: #FA7F5C;
}

.language {
  height: 60px
}

.language-text {
  margin: 0;
  padding-top: 0;

}

.progress-bar {
  font-size: 1.5em;
}

.progress {
  border-radius: 6px;
  width:600px;
}
