<div class="container">
  <div class="row">
    <h2 class="text-center">Login</h2>

    <input placeholder="Username" type="text" required>
    <input placeholder="Password" type="password" required>
    <button class="btn primary-button">Submit</button>

  </div>
</div>
