$green: #5AF47B;
$yellow: #F2EF54;
$orange: #F84700;
$med-orange: #F4945B;

#districts-card{
  overflow:scroll;
  overflow-y:hidden;
  overflow-x:hidden;
  &.active {
    opacity: 1;
  }
}

.score {
  height:40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  left: 25px;
  top: 10px;
  padding: 8px;
}

.score-green{
  background-color: $green;
}

.score-orange{
  background-color: $orange;
}

.score-yellow{
  background-color: $yellow;
}


.color-good {
  background-color: $orange;
  }

.recomendation {
  .card-product {
    height: initial;

    p {
      font-size: 17px;
      font-weight: 100;
      color: #373737;
    }
  }

  a {
    text-decoration: none;
  }

  .score {
    margin-bottom: 0px;
  }

  .card-product-infos h2 {
    font-size: 21px;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .scoreofcriterias {
    bottom: 13px;
  }
}

#districts-card {
  .card-product-infos p:nth-child(2) {
    display: none;
  }

  .scoreofcriterias {
    bottom: 4px;
  }
}

.card-product {
  height: 90px;
  background: white;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 12px 10px;
  transition: 0.4s;
  &:hover {
    transform: scale(0.95);
    background-color:#F3F3F3;
  }
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 22px 0 0 0;
  font-size: 16px;
  font-weight: bold;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
}

.card-product .card-product-infos {
  padding: 16px;
}

.scoreofcriterias {
  display: flex;
  justify-content: space-between;
  width: 350px;
  position: relative;
  right: 30px;
}



