#testimonials{
  background-color: white;
}

.testimonial-text{
  font-family: roboto;
  font-size: 18px;
  color: #4F4F4F;
  line-height: 1.5;
}

.testimonial-image{
  border-radius: 50%;
  width: 10%;
  margin: 20px;
}

.title-review > h2{
  font-family: roboto;
  color: #4F4F4F;
}
#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin:20px 20px 50px;
}

.image-review {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: #0000000f 1px 1px 6px;
  margin-right: 20px;
}

.reviewers-photos {
  margin-bottom:16px;
}


.review-cards {
  padding-top: 16px;
  width: 100%;
  justify-content: space-around;
}

.review-card {
  color: #828282;
  padding: 48px;
  margin-bottom: 32px;
  border: 2px solid #3EF49E;
  width: 100%;

  h4 {
    color: #4a4444;
  }
}

.testimonial-text {
  color: #828282;
}

.carousel-slide {
  margin-top: 32px;
}
