.tabs-underlined {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
  margin-top: 34px;

}

.tabs-underlined .tab-underlined {
  font-size: 1em;
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 3px solid #999999;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  color:#5AF47B;
  border-bottom: 3px solid #5AF47B;
}
