.book-button {
    text-align: center;
}
.btn-primary, .btn-secondary {
    border-radius: 6px;
    width: 120px;
}
.show-btn {
    text-align: center;
    margin-top: 5%;
}
.new-location-btn, .btn-lg {
    width: 220px;
}
.btn-danger {
    border-radius: 6px;
}

.btn-show-category {

    border-radius: 50%;
    color: #585858;
    font-size: 26px;
    width: 10vh;
    height: 10vh;
    // height: 40px;
    box-shadow: 8px 8px 15px -6px rgba(153,153,153,0.3);
    display: flex;
    justify-content: center;
    transition: 0.3s;
	&:focus {
		outline: none;
	}
  &:hover {
    background-color: #8cf7a2;
  }

  &.active {
    opacity:1;
    background-color: #8cf7a2;
    svg {
      fill: #686868;
    }
  }

    p {
    	margin: 0;
		font-weight: 500;
		color: $secondary-color;
    }
}

.btn-show-category p {

}

.btn-container {
	margin: 15px;
}

.map-btn {
  width: 100%;
  height: 38px;
}

#button-show {
  width: 275px;
}

